<header>
    <p-button label="back" icon="pi pi-angle-left" (click)="back()"></p-button>
  </header>
  
<div class="content">


  <p-card header="Add New Team" [style]="{ width: '45rem'}">
    
    <ng-template pTemplate="header">
        <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
    </ng-template>
  

    <form [formGroup]="formGroup">
        
        <div class="input-field">
            <div>Name</div>
            <div>
                <input type="text" pInputText formControlName="name"/>
            </div>
        </div>
        <div class="input-field">
            <div>Foundation Year</div>
            <div>
                <p-inputNumber formControlName="foundationYear" [showButtons]="true" inputId="minmax-buttons" [min]="START_YEAR" [max]="END_YEAR"> </p-inputNumber>
            </div>
        </div>
        <div class="input-field">
            <div>Number of Championships</div>
            <div>
                <p-inputNumber formControlName="championships" [showButtons]="true" inputId="minmax-buttons" [min]="0" [max]="100"> </p-inputNumber>
            </div>
        </div>
        <div class="input-field">
            <div>Entry Fee Paid</div>
            <div>
                <p-inputSwitch formControlName="entryFeeStatus"></p-inputSwitch>
            </div>
        </div>

    </form>

    <ng-template pTemplate="footer" >
        <p-button (click)="back()" label="Cancel" icon="pi pi-times" styleClass="p-button-secondary"></p-button>
        <p-button (click)="save()" label="{{saveLabel}}" icon="pi pi-check" [style]="{ 'margin-left': '.5em' }" [disabled]="buttonDisabled"></p-button>
    </ng-template>

    <p-toast position="bottom-right"></p-toast>           

  </p-card>

</div>