.content {
    margin: 1rem 2rem;
    display: flex;
    justify-content: center;
}

header{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
}

.p-card-body {
    max-width: 30rem;

    img{
        max-height: 5rem;
    }
}

.input-field {    
    min-height: 4.5rem;
    display: flex;
    flex-basis: auto;
    align-items: center;

    div:first-child {
        width: 22rem;
    }
}

.p-card-footer{
    display: flex;
    justify-content: flex-end;
}

img {
  height: 100px;
  object-fit: cover; 
  object-position: 0 63%;
}
